{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Arguemeter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Arguemeter debate social media site">
    <meta name="keywords" content="Arguemeter debate social arguments political media">

    <!-- Le styles -->
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="/static/css/landing.css?v=0" rel="stylesheet">
    <!-- This file stores project specific CSS -->
</head>
<body>
<div id="content-wrapper">
    <div id="main" class="clearfix">
        <div class="block left">
            <img src="{% static 'img/logo.png' %}" width="267" height="341">
        </div>
        <div class="block right">
            <h1><div class="header">arguemeter</div><div class="header-subtitle">The antidote to viral.</div></h1>

            {% if success_message %}
                <div class="success-message-container">
                    <p>Thanks! We will send you an invite to beta testing when we are ready to go.</p>
                    <p>Contact us at <a href="mailto:info@arguemeter.com">info@arguemeter.com</a></p>
                </div>
            {% else %}
            <form method="post" id="invite" action="{% url 'landing:add-invite' %}">
                {% if error_message %}
                    <label class="error-message">
                        {{ error_message }}
                    </label>
                {% endif %}
                <fieldset>
                    <input name="email" type="text" placeholder="Enter your email" tabindex="1" autofocus>
                </fieldset>
                <fieldset id="placeholder">
{#                    captcha will go here #}
                </fieldset>
                <fieldset>
                    <input type="submit" value="Get an invite">
                </fieldset>
                {% csrf_token %}
            </form>
            {% endif %}
        </div>
        <div class="feature-text">
            Explore the best arguments and commentary from around the web.
        </div>
        <div class="feature-text">
            Rate the quality to help separate the best from the rest.
        </div>
    </div>
    <div id="content-footer">
        Copyright &#169; 2015. ARGUEMETER, LLC. All rights reserved.
    </div>
</div>

<script type="text/javascript">
    window.onload = function() {
        setTimeout(function() {
            var captchaPlaceholder = document.getElementById('placeholder');
            captchaPlaceholder.innerHTML = "<input type='checkbox' name='human' id='human'/>" +
                    "<label for='human'>I\'m a human!</label>";
        }, 100);
    };
</script>
</body>
</html>