{% extends "base.html" %}

{% block page_title %}
<div class="col-md-7">
                <div class="title-bar-inner clearfix no-nav">
                    My Profile
                </div>
            </div>
{% endblock page_title %}

{% block content %}
    <div class="col-md-7" id="profile">
        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>{% endif %}
        <div class="list-group">

            <div class="list-group-item clearfix">
                    <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="username">Username</span>
                        <input type="text" class="form-control" placeholder="{{ profile.username }}"
                               aria-describedby="username" disabled>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="first-name">First name</span>
                        <input type="text" class="form-control" placeholder="{{ profile.first_name }}"
                               aria-describedby="first-name" disabled>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="last-name">Last name</span>
                        <input type="text" class="form-control" placeholder="{{ profile.last_name }}"
                               aria-describedby="last-name" disabled>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="email">Email</span>
                        <input type="text" class="form-control" placeholder="{{ profile.email }}" aria-describedby="email"
                               disabled>
                    </div>
                </div>
                <div class="form-group">
                    <a href="{% url 'arguemeter:index' %}" class="btn btn-default">Back to Topics</a>

                    {% if profile.id == request.user.id %}
                        <a href="{% url 'arguemeter:edit-profile' request.user.id %}" class="btn btn-default">Edit Profile</a>
                    {% endif %}
                </div>

            </div>

        </div>

    </div>

{% endblock %}