{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p><strong>{% trans "Oh snap!" %}</strong> {% trans "Please enter a correct username and password. Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}
        <form action="{% url 'users:auth_login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
            <legend><span class="col-sm-offset-1">{% trans 'Log in' %}</span></legend>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <!-- todo: delete this next conditional nonsense as soon as we have a mechanism for setting a default value -->
                  <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/arguemeter/{% endif %}" />
                  <button type="submit" class="btn btn-default">{% trans 'Log in' %}</button>
                  &nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
                </div>
            </div>
        </form>
        <p><a href="{% url 'users:auth_password_reset' %}">{% trans "Reset my password" %}</a></p>

        <script type="text/javascript">
            $(function(){
                $(".alert-message").alert();
                $('#mainForm').submit(function(){
                    $('#submit').button('loading');
                })
            });
            document.forms[1].elements[2].focus();
        </script>
{% endblock %}