{% extends "base.html" %}

{% block page_title %}

    <div class="col-md-12">
        <div class="title-bar-inner no-nav clearfix">
            <div class="col-md-12">
                My Notifications
                <div class="pull-right back-to-topics"><a href="{% url 'arguemeter:index' %}">Back To Topics</a></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="list-group" id="topics">
    {% for message in messages %}

    <div class="list-group-item clearfix">
        <h2 class="list-group-item-heading message-title">
            {% if not message.read_by_user %}<strong><em>{% endif %}
            {{ message.subject }}
            {% if not message.read_by_user %}</em></strong>{% endif %}
        </h2>
        <p>{{ message.text }}</p>

        <div class="col-md-12">
            <div class="message-data clearfix">

                <div class="message-sender pull-left">
                    {{ message.sender }}
                    <br>
                    {{ message.sender.email }}
                </div>

                <div class="message-date pull-left">
                    {{ message.date_created }}
                </div>

                <div class="inbox pull-left">
                    <span class="label-private label label-round"> {{ message.msg_inbox_name }} </span>
                </div>

            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}