/*! project specific CSS goes here. */
/*
    This file contains the primary set of styles for ArgueMeter.
    It is served along with pages that inherit from base.html template.
*/
body {
    background-color: #efefef;
    /* stop gap fix for mobile devices */
    min-width: 722px;
    color: #111111;
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.multi-columns-row .col-xs-6 {
    margin-bottom: 30px;
}

a {
    color: #cc0000;
}

a:hover, a:focus {
    color: #990000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111111;
}

.btn-primary {
    background-color: #E06666;
    border: 1px solid #E06666;
}

.navbar {
    font-weight: normal;
}

.navbar .dropdown-menu>li>a, .navbar .dropdown-menu>li>a:focus {
    font-weight: normal;
}

.navbar-brand img {
    margin-top: -20px;
}

.dummy {
        margin-top: 100%;
    }
.in-square {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
}

.scalable-add-button {
    max-height: 128px;
    max-width: 128px;
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.note-container{
    display:inline-block;
}

.note-container-scroll{
    float: left;
    overflow-y: scroll;
    max-height: 300px;
}

.header {
    background-color:#E06666;
    padding:10px;
    border-bottom:10px solid black;
}

.modal-header,
.modal-header h1,
.modal-header h2,
.modal-header h3,
.modal-header h4,
.modal-header h5,
.modal-header h6
{
    background-color:#E06666;
    color: white;
}

.modal-header .btn {
    margin-right: 10px;
}

.logo {
    font-weight:900;
    font-family:"helvetica";
    font-size:30px;
}

.title-bar {
    padding:35px 0px 5px 0px;
    font-size:40px;
    font-weight:900;
}

.main-content {
    margin-top:20px;
    font-size: 14px;
}

.main-content .list-group {
    font-size: 13px;
    font-weight: normal;
}

.article-title,
.topic-title {
    font-weight:900;
    font-size:16px;
    line-height:100%;
    padding:0px;
}

.message-title {
    font-size:16px;
    line-height:100%;
    padding:0px;
}

.filter_axes_group {
    margin-top: 20px;
}

.setAgree {
    cursor:pointer;
}

.setAgree:hover {
    color:#990000;
}

.selected {
    color:#cc0000;
}

.radio-axes {
    float:left;
}

.article-content {
    margin-top:5px;
    font-size: 14px;
}

.comment-input {
    margin:0px 15px 0px 15px;
}

.panel-comment {
    margin-top:15px;
}


.panel-axescat {
    margin-left:15px;
}

.rating-container,
.article-data .data {
    min-width: 86px;
}

.rating-container {
    margin-top: 5px;
}

.rating-container-controls {
    margin-top: 20px;
    text-align: right
}

.rating-container .rating-title {
    padding:5px 20px 5px 20px;
    text-align:center;
    background-color:#CCCCCC;
    width:60%;
    display: inline-block;
    font-size: 15px;
}

.sidebar-xs .rating-container .rating-title {
    width: 50%;
}

.rating-container .rating-stars {
    padding: 5px 0;
    width: 40%;
    text-align: left;
    display: inline-block;
    background-color: #CCCCCC;
    font-size: 15px;
    padding-right: 20px;

}

.sidebar-xs .rating-container .rating-stars {
    width: 50%;
}

.rating-container.embedded .rating-stars {
    width: 100%;
    background-color: #e7e7e7;
    border: none;
    padding: 5px 0;
    margin: 5px 0;
}

.article-data .data {
    background-color: #e7e7e7;
    display: inline-block;
    font-size: 12px;
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
}

.modal .data {
    background-color: #e7e7e7;
    display: inline-block;
    font-size: 12px;
    padding: 5px 5px;
    margin: 5px 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.modal .data .glyphicon {
    position: absolute;
    top: 5px;
    left: -20px;
    cursor: pointer;
    color: #cc0000;
}

.modal .data .glyphicon:hover {
    color: #990000;
}

.article-data .data .red {
    color: #cc0000;
}


.article-data .data .selected {
    color: #990000;
}

.axescat-heading {
    width:245px;
    background-color:#ddd;
    padding:6px 10px 6px 10px;
    border:1px solid black;
    border-bottom:0px;
}

.axescat-body  {
    width:245px;
    padding:10px;
    border:1px solid black;
}

.axescat-label {
    width: 33%;
    float:left;
    font-size:10px;
}

.label-round {
    color:white;
    border-radius:4px;
    padding:8px;
    font-size: 12px;
    width:75px;
    text-align: center;
}

.topic-data .community {
    padding-left: 22px;
}

.topic-data .community .label {
    margin-top: 5px;
    display: inline-block;
}

.label-public {
    background-color: #000000;
    font-weight: normal;
}

.label-private {
    background-color: #000000;
    font-weight: normal;
}

#div_id_organization {
    display:none;
}
#div_id_team {
    display:none;
}

.article-summary-name {
    width: 60%;
}
.article-summary-name span {
    white-space: nowrap;
}

.clear {
    clear: both;
}

.glyphicon.blue {
    border-radius: 10px;
    background-color: rgba(0, 255, 255, 0.25);
}

.container {
    position: relative;
}

.main-content {
    position: relative;
}

.sidebar-xs {
    position: absolute;
    top: 20px;
    display: none;
}

.sidebar-xs.left {
    /*left: -282px;*/
}

.sidebar-xs.right {
    /*right: -282px;*/
}

.btn-xs {
    border-radius: 3px;
    position: absolute;
    top: -15px;
    display: none;
}

.btn-xs.left {
    left: 30px;
}

.btn-xs.right {
    right: 30px;
}

@media (max-width: 992px) {
    .btn-xs {
        display: block !important;
    }
    .sidebar-xs {
        display: block !important;
    }
    .sidebar-full {
        display: none !important;
    }
    .sidebar-xs.left.slide-right {
        left: 0px;
    }
    .sidebar-xs.right.slide-left {
        right: 0px;
    }
    .main-content.slide-left {
        /*right: 282px;*/
    }
    .main-content.slide-right {
        /*left: 282px;*/
    }
}

/*#sharedArgumentModal .page2 {*/
    /*display: none;*/
/*}*/

.title-bar h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 50px;
    font-weight: 500;
    padding-right: 40px;
}

.title-bar .title-bar-inner {
    border: solid 1px #dddddd;
    background-color: white;
    padding: 10px 15px 15px;
}

.title-bar .title-bar-inner.no-nav {
    padding-bottom: 10px;
}

.title-bar .title-bar-inner.grid {
    padding-left: 0;
}

.title-bar .title-bar-inner.grid h1 {
    padding: 0 40px 15px 15px;
}

.title-bar .title-bar-inner.grid a {
    padding-right: 0;
}

.btn.slim {
    padding: 1px 12px;
}

.sub-nav-wrapper {
    position: relative;
}

.sub-nav {
    position: absolute;
    z-index: 2;
    top: -35px;
    left: -25px;
}

.sub-nav li {
    display: inline-block;
}

.sub-nav .selected,
.sub-nav .selected:hover
{
    cursor: auto;
    background-color: #E06666;
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #990000;
}

.search-bar {
    background-color: white;
    border: solid 1px #dddddd;
    position: relative;
    display: block;
    padding: 15px 15px 0 15px;
    font-size: 15px;
    font-weight: normal;
}

.sort-dropdown {
    display: inline-block;
    font-size: 14px;
}

.sort-dropdown button {
    padding: 10px 15px;
    font-weight: normal;
}

.search-bar input.search {
    width:50%;
}

.details {
    font-size: 14px;
    font-weight: normal;
}

.details label {
    font-weight: 900;
}

.disagree-container {
    text-align: center;
    background-color: #CCCCCC;
    padding: 5px 0;
    font-size: 15px;
}

.disagree-container .setAgree {
    display: inline-block;
    padding: 0 5%;
}

.disagree-container .setAgree .setAgreeIcon {
    margin: 0 10px;
    color: white;
    text-shadow: 1px 0 1px #cc0000, -1px 0 1px #cc0000, 0 1px 1px #cc0000, 0 -1px 1px #cc0000;
}

.disagree-container .setAgree.selected .setAgreeIcon {
    color: #cc0000;
    text-shadow: none;
}

.disagree-container .setAgree:hover .setAgreeIcon,
.disagree-container .setAgree.selected:hover .setAgreeIcon {
    color: #990000;
    text-shadow: none;
}

.rating-container .setRating {
    color: white;
    text-shadow: 1px 0 1px #cc0000, -1px 0 1px #cc0000, 0 1px 1px #cc0000, 0 -1px 1px #cc0000;
    cursor: pointer;
}

.rating-container .setRating.hover,
.rating-container .setRating.selected.hover {
    color: #990000;
    text-shadow: none;
}

.rating-container.embedded .setRating {
    cursor: auto;
}

.rating-container.embedded .setRating.hover {
    color: white;
}

.rating-container.embedded .setRating.selected.hover {
    color: #cc0000;;
}

.rating-container .setRating.selected {
    color: #cc0000;
    text-shadow: none;
}

.list-group-header {
    background-color: #E06666;
    color: white;
    font-weight: bold;
}

#rating_module .btn,
#rating_module_xs .btn {
    padding: 4px 10px;
    margin-right: 5%;
}

#rating_module .btn:last-child,
#rating_module_xs .btn:last-child {
    margin-right: 0;
}

.topic-description, .article-description {
    margin-top: 8px;
}

.topic-description.compressed, .article-description.compressed {
    max-height: 50px;
    overflow: hidden;
}

.topic-data > div,
.message-data > div,
.article-data-inline > div {
    width: 33%;
    padding: 3px;
    font-weight: bold;
    font-size: 12px;
}

.article-data-inline {
    margin-top: 8px;
}

.article-data-inline > div {
    display: inline-block;
}

.search + .btn {
    padding: 4px 10px 5px 10px;
    margin-right: 5%;
    margin-bottom: 2px;
}

input.weight {
    width: 30px;
    height: 26px;
}

.data.rating,
.data.reason-tag {
    width: 156px;
}

.data.reason-tag:hover,
.data.reason-tag.selected:hover {
    cursor: pointer;
    color: #990000;
}

.data.reason-tag.selected {
    color: white;
    background-color: #E06666;
}

.publish-wrapper {
    margin-top: 10px;
}

.topic.tile .btn {
    font-size:  13px;
    width: 148px;
}

.modal-body {
    min-height: 250px;
    max-height: 700px;
    overflow-y: auto;
    width: 100%;
}

.favorite-star {
    position: absolute;
    right: 0;
    top: 13px;
    font-size: 30px;
}

span.input-group-addon {
    min-width: 150px;
}

.back-to-topics {
    font-size: 13px;
}

.message-data > div.message-sender {
    padding-left: 0;
    right: 12px;
    position: relative;
}

.inbox {
    text-align: right;
}

.message-date {
    text-align: center;
}

.message-count {
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    display: inline-block;
    padding: 0 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
}

form.login label,
form.signup label {
    width: 116px;
    text-align: right;
}

form.signup button[type=submit] {
     margin-left: 120px;
}

/* hide signup text */
.main-content > p {
    display: none;
}

#profile .input-group {
  margin: 5px 0;
}

#profile span.input-group-addon {
    background-color: transparent;
    border: none;
    text-align: right;
    min-width: 90px;
}

#profile .form-control {
    width: 95%;
}

#profile .list-group:first-child .list-group-item {
  padding-top: 25px;
}