html, body {
    height: 100%;
    font-family: Helvetica, sans-serif;
    color: rgb(115, 115, 115);
}

body {

}

fieldset {
    display: block;
    border: none;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h1 > * {
    text-align: center;
}

fieldset input {
    width: 200px;
}

form {
    padding: 30px;
}

#content-wrapper {
    margin: auto;
    width: 670px;
    position: relative;
    min-height: 650px;
    max-height: 750px;
    height: 90%;
}

body .header {
    color: #980000;
    font-size: 64px;
    width: 381px;
    height: 79px;
}
body .header-subtitle {
    color: #111111;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

#main {
    padding-top: 15%;
}

#main div {
    text-align: center;
}

#content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}

.block.right {
    float: right;
}

.block.left {
    float: left;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.feature-text {
    clear: both;
    text-align: center;
    line-height: 25px;
}

.block {
    margin-bottom: 20px;
}

.success-message-container {
    width: 390px;
    background-color: #dddddd;
    padding: 10px 5px;
    border: 1px solid #737373;
}

.error-message {
    color: red;
    font-size: 12px;
    width: 390px;
    padding: 10px 5px;
}

#human {
    width: auto;
    margin: 8px;
}

label[for='human'] {
    color: #111111;
    font-size: 12px;
}