{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load dictionaries %}
{% load templatetags %}
{% load templatefilters %}

{% block page_title %}
    <div class="col-md-12">
        <div class="title-bar-inner clearfix grid">
{#            <a href="{% url 'arguemeter:list-articles' topic.id %}" class="pull-left col-md-1"><span class="glyphicon glyphicon-arrow-left"></span></a>#}
{#            <h1 class="col-md-6">{{ article.topic.topic_name }}</h1>#}
                {% article_header_topic_title topic request %}

                {% include "core/article_header_topic_details.html" with topic=topic num_article_list_original=num_article_list_original num_article_list_shared=num_article_list_shared %}
        </div>

            {% sub_nav article.topic form shared_form_pg1 shared_form_pg2 %}
    </div>
{% endblock page_title %}

{% block sub_nav %}
    {% sub_nav topic form shared_form_pg1 shared_form_pg2 %}
{% endblock sub_nav %}

{% block extra_js %}
    <script>
        // stars
        $(function() {
            $(".rated").each(function () {
                add_stars($(this).data('id'), $(this).val());
            });
            {% for axescat in axescats %}
            {% if axescat.user_slide_value %}
            slide_axis({{ axescat.id }}, {{ axescat.user_slide_value }});
            {% endif %}
            {% endfor %}
        });

        // this code sets up the knockout viewmodels for comments
        $(function () {
            var cvm;
            {% for comment in comments %}
            {% for reply in comment.replies %}
            cvm = new CommentViewModel({
                    comment_id: {{ reply.id }},
                    user_likes: '{{ reply.user_likes }}',
                    likes: {{ reply.likes }},
                    dislikes: {{ reply.dislikes }}
                });
            ko.applyBindings(cvm, $("#comment_panel_{{ reply.id }}")[0]);
            ko.applyBindings(cvm, $("#comment_panel_xs_{{ reply.id }}")[0]);
            {% endfor %}

            cvm = new CommentViewModel({
                    comment_id: {{ comment.id }},
                    user_likes: '{{ comment.user_likes }}',
                    likes: {{ comment.likes }},
                    dislikes: {{ comment.dislikes }},
                    numberOfReplies: {{ comment.replies.count }}
                });
            ko.applyBindings(cvm, $("#comment_panel_{{ comment.id }}")[0]);
            ko.applyBindings(cvm, $("#comment_panel_xs_{{ comment.id }}")[0]);
            {% endfor %}

            var davm = new DisAgreeViewModel({
                    article_agrees: {{ article.agrees }},
                    article_disagrees: {{ article.disagrees }},
                    user_article_dis_agree: '{{ disagree.value }}'
                });
            ko.applyBindings(davm, $('#rating_module')[0]);
            ko.applyBindings(davm, $('#rating_module_xs')[0]);
        });

        // adds star hover over style
        $(function() {
            var delay = null;

            $('#rating_module, #rating_module_xs')
            .on('mouseenter', '.setRating', function(e) {
                var el = $(e.currentTarget);

                el.prevAll().add(el).addClass('hover');

                if (delay) {
                    clearTimeout(delay);
                    el.nextAll().removeClass('hover');
                }
            })
            .on('mouseleave', '.setRating', function(e) {
                var el = $(e.currentTarget);

                delay = setTimeout(function() {
                    el.prevAll().add(el).removeClass('hover');
                    delay = null;
                }, 50);
            });
        });

        // reason tag agree/disagree buttons
        $(function() {
            $('#tag_module, #tag_module_xs').on('click', '.tag-disagree', function(e) {
                var el = $(e.currentTarget);

                var vote = el.data('disagree'),
                    tag_id = el.data('id');

                $('#tag_disagree_' + tag_id).val(vote);
                $('#tag_disagree_xs_' + tag_id).val(vote);

                el.closest('form').submit();
            })
        });

    </script>

    <script src="{% static 'js/embedly.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/sidebar.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/knockout-min.js'%}"  type="text/javascript"></script>
    <script src="{% static 'js/articleupdateviewmodel.js' %}"  type="text/javascript"></script>
    <script src="//cdn.embed.ly/jquery.embedly-3.0.5.min.js" type="text/javascript"></script>
    <script src="//cdn.embed.ly/jquery.preview-0.3.2.min.js" type="text/javascript"></script>


{% endblock extra_js %}

{% block sidebarright %}
    <button type="button" class="btn btn-primary btn-xs right" data-toggle="sidebarright"><i class="glyphicon glyphicon-chevron-left"></i>Rate/Comment</button>
    <div class="col-md-5 sidebar-xs right">
        <div id="rating_module_xs" class="list-group">
                    <div class="list-group-item list-group-header">Scoring Criteria</div>
                    <div class="list-group-item">
                        <div class="disagree-container">

                                <div id="agrees-xs" class="setAgree" data-bind="css: {selected: user_article_agree}, click: agreeArticle">
                                    Agree
{#                                    <span class="badge" data-bind="text: article_agrees"></span>#}
                                    <span class="glyphicon glyphicon-chevron-up setAgreeIcon"></span>
                                </div>
                                <div id="disagrees-xs" class="setAgree" data-bind="css: {selected: user_article_disagree}, click: disagreeArticle">
{#                                    <span class="badge" data-bind="text: article_disagrees"></span>#}
                                    <span class="glyphicon glyphicon-chevron-down setAgreeIcon"></span>
                                    Disagree
                                </div>
                        </div>

                        <br>
                        <form class="form-horizontal" action="{% url 'arguemeter:add-ratings' article.id %}" method="post">
                            {% csrf_token %}
                            {%  if disagree %}
                            <input type="hidden" id="dis_agree-xs" name="dis_agree" data-bind="value: user_article_dis_agree">
                            <input type="hidden" name="disagree_existed">
                            {% else %}
                            <input type="hidden" id="dis_agree-xs" name="dis_agree" data-bind="value: user_article_dis_agree">
                            {% endif %}

                            {% for rating in rating_list %}
                                <div class="rating-container">
                                    <span class="rating-title">{{ rating.name }}</span><span class="rating-stars">
                                        <span id="rating_{{ rating.id }}_1_xs" class="glyphicon glyphicon-star setRating{% if rating.user_value >= 1 %} selected{% endif %}"
                                              onclick="rate('{{ rating.id }}', '1')"></span>
                                        <span id="rating_{{ rating.id }}_2_xs" class="glyphicon glyphicon-star setRating{% if rating.user_value >= 2 %} selected{% endif %}"
                                              onclick="rate('{{ rating.id }}', '2')"></span>
                                        <span id="rating_{{ rating.id }}_3_xs" class="glyphicon glyphicon-star setRating{% if rating.user_value >= 3 %} selected{% endif %}"
                                              onclick="rate('{{ rating.id }}', '3')"></span>
                                        <span id="rating_{{ rating.id }}_4_xs" class="glyphicon glyphicon-star setRating{% if rating.user_value >= 4 %} selected{% endif %}"
                                              onclick="rate('{{ rating.id }}', '4')"></span>
                                        <span id="rating_{{ rating.id }}_5_xs" class="glyphicon glyphicon-star setRating{% if rating.user_value == 5 %} selected{% endif %}"
                                              onclick="rate('{{ rating.id }}', '5')"></span>
                                    </span>
                                </div>
                                <br>


                                {% if rating.user_value %}
                                    <input type="hidden" class="rated" id="rating_{{ rating.id }}_xs" name="rating_{{ rating.id }}" data-id="{{ rating.id }}"
                                           value="{{ rating.user_value }}">
                                    <input type="hidden" name="rating_{{ rating.id }}_existed" value="true">
                                {% else %}
                                    <input type="hidden" class="unrated" id="rating_{{ rating.id }}_xs"
                                           name="rating_{{ rating.id }}">
                                {% endif %}

                            {% endfor %}
{#                            {% for axescat in axescats %}#}
{#                                <div>#}
{#                                    <div class="axescat-heading">{{ axescat.name }}</div>#}
{##}
{#                                    <div class="axescat-body">#}
{#                                        <div>#}
{#                                            <div class="axescat-label text-left">#}
{#                                                {{ axescat.left_criteria }}#}
{#                                            </div>#}
{#                                            <div class="axescat-label text-center">#}
{#                                                Neutral#}
{#                                            </div>#}
{#                                            <div class="axescat-label text-right">#}
{#                                                {{ axescat.right_criteria }}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div>#}
{#                                            <input type="range" name="axescat_{{ axescat.id }}" min="0" max="10" value="{{ axescat.user_slide_value }}">#}
{#                                        </div>#}
{##}
{#                                    </div>#}
{##}
{#                                </div>#}
{#                                <br>#}
{#                                {% if axescat.user_slide_value %}#}
{#                                    <input type="hidden" name="axescat_{{ axescat.id }}_existed">#}
{#                                {% endif %}#}
{#                            {% endfor %}#}

                            <div style="text-align: right">
                                <button class="btn btn-primary" type="submit">Submit Rating</button>
                                <a class="btn btn-default" onclick="window.location.reload(true)">Clear</a>
                            </div>
                        </form>
                    </div>
                </div>


            <div id="tag_module_xs" class="list-group">
                <div class="list-group-item list-group-header">Reason Tags</div>
                <div class="list-group-item article-data">
                    {% for tag in tags %}
                        <div class="data">
                            {{ tag.name }}
                            <form action="{% url 'arguemeter:add-tag-disagree' article.id tag.id %}" method="post">
                                {% csrf_token %}
                                <span>{{ tag.agrees.count }}</span>
                                <span class="glyphicon glyphicon-chevron-up tag-disagree {% if tag.user_dis_agree %}selected{% endif %}" style="cursor:pointer;" data-disagree="True" data-id="{{ tag.id }}"></span>
                                <span>{{ tag.disagrees.count }}</span>
                                <span class="glyphicon glyphicon-chevron-down tag-disagree {% if tag.user_dis_agree == False %}selected{% endif %}" style="cursor:pointer;" data-disagree="False" data-id="{{ tag.id }}"></span>
                                <input type="hidden" id="tag_disagree_xs_{{ tag.id }}" name="disagree" value=""/>
                            </form>
                        </div>

                    {% endfor %}
                </div>
            </div>

                <div id="comment_module" class="list-group">
                    <div class="list-group-item">Comments</div>
                    <div class="list-group-item">
                        {% add_comment article.id %}
                        {% for comment in comments %}
                                <div class="panel panel-default panel-comment">
                                    <div class="panel-heading">{{ comment.user }} on {{ comment.date_created }}</div>
                                    <div  id="comment_panel_xs_{{ comment.id }}" class="panel-body">
                                        <div>
                                            {{ comment.comment_text }}
                                        </div>
                                        <span data-bind="text: likes"></span>
                                        <span id="comment_{{ comment.id }}_like" class="glyphicon glyphicon-thumbs-up" data-bind="css: { blue: user_like}, click: like"></span>
                                        <span data-bind="text: dislikes"></span>
                                        <span id="comment_{{ comment.id }}_dislike" class="glyphicon glyphicon-thumbs-down" data-bind="css: { blue: user_dislike}, click: dislike"></span>
                                        {% if not comment.parent %}
                                            <span data-bind="text: numberOfReplies"></span>
                                            <span id="comment_{{ comment.id }}_reply" class="glyphicon glyphicon-comment" onclick="$('#reply_to_{{ comment.id }}').show()"></span>
                                        {% endif %}
                                        {% add_comment article.id comment.id %}
                                    </div>
                                    <div class="panel-footer">
                                        {% for reply in comment.replies %}
                                            <div class="panel panel-default">
                                                <div class="panel-heading">{{ reply.user }} on {{ reply.date_created }}</div>
                                                <div id="comment_panel_xs_{{ reply.id }}" class="panel-body">
                                                    <div>
                                                        {{ reply.comment_text }}
                                                    </div>
                                                    <span data-bind="text: likes"></span>
                                                    <span id="comment_{{ reply.id }}_like" class="glyphicon glyphicon-thumbs-up" data-bind="css: {blue: user_like}, click: like"></span>
                                                    <span data-bind="text: dislikes"></span>
                                                    <span id="comment_{{ reply.id }}_dislike" class="glyphicon glyphicon-thumbs-down" data-bind="css: {blue: user_dislike}, click: dislike"></span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


{% endblock sidebarright %}

{% block content %}
    <div class="col-md-7" id="article">
        {% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}
        <div class="list-group">
            <div class="list-group-item clearfix">
                <div class="col-md-8">
                    <div class="article-title">
                        {{ article.article_name }}
                    </div>
                    <h5>by: {{ article.display_author }}</h5>
                    {% if article.is_shared %}
                        <h6>{{ article.shared_link.publisher }}</h6>
                    {% endif %}
                    <div>
                        <span class="badge">rating {{ article.rating_score }}</span><span
                            class="badge"> agree {{ article.agrees }}</span><span
                            class="badge">disagree {{ article.disagrees }}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    {% if article.user_id == request.user.id %}
                        <a href="#" class="btn btn-default slim" data-toggle="modal" data-target="#articleUpdateModal" data-bind="click: init"
                                data-articleid="{{ article.id }}" data-topicid="{{ article.topic.id }}">Edit Argument</a>
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <br/>
                    <p class="article-content">
                        {{ article.content|bbcode }}
                    </p>
                    {% if article.is_video %}
                        <iframe width="420" height="315" src="{{ article.video_embed_url }}"></iframe>
                        <br>
                        <a href='{{ article.shared_link.url }}' target="_blank">Open in new window</a>

                    {% elif article.is_shared %}
                        <a href='{{ article.shared_link.url }}' target="_blank">Read article</a>
                    {% endif %}
                </div>
            </div>

        </div>

    </div>

    <div class="col-md-5 pull-right sidebar-full">

        <div id="rating_module" class="list-group">
            <div class="list-group-item list-group-header">Scoring Criteria</div>
            <div class="list-group-item">
                <div class="disagree-container" data-disagree='{"class":"selected","agree":"#agrees","disagree":"#disagrees","backingField":"#dis_agree"}'>
                        <div id="agrees" class="setAgree" data-bind="css: { selected: user_article_agree }, click: agreeArticle">
                            Agree
{#                            <span class="badge" data-bind="text: article_agrees"></span>#}
                            <span class="glyphicon glyphicon-chevron-up setAgreeIcon"></span>
                        </div>
                        <div id="disagrees" class="setAgree" data-bind="css: { selected: user_article_disagree }, click: disagreeArticle">
{#                            <span class="badge" data-bind="text: article_disagrees"></span>#}
                            <span class="glyphicon glyphicon-chevron-down setAgreeIcon"></span>
                            Disagree
                        </div>
                </div>

                <form class="form-horizontal" action="{% url 'arguemeter:add-ratings' article.id %}" method="post">
                    {% csrf_token %}
                    {%  if disagree %}
                    <input type="hidden" id="dis_agree" name="dis_agree" data-bind="value: user_article_dis_agree">
                    <input type="hidden" name="disagree_existed">
                    {% else %}
                    <input type="hidden" id="dis_agree" name="dis_agree" data-bind="value: user_article_dis_agree">
                    {% endif %}

                    {% for rating in rating_list %}
                        <div class="rating-container">
                            <span class="rating-title">{{ rating.name }}</span><span class="rating-stars">
                                <span id="rating_{{ rating.id }}_1" class="glyphicon glyphicon-star setRating{%if rating.user.value >= 1%} selected{%endif%}"
                                      onclick="rate('{{ rating.id }}', '1')"></span>
                                <span id="rating_{{ rating.id }}_2" class="glyphicon glyphicon-star setRating{%if rating.user.value >= 2%} selected{%endif%}"
                                      onclick="rate('{{ rating.id }}', '2')"></span>
                                <span id="rating_{{ rating.id }}_3" class="glyphicon glyphicon-star setRating{%if rating.user.value >= 3%} selected{%endif%}"
                                      onclick="rate('{{ rating.id }}', '3')"></span>
                                <span id="rating_{{ rating.id }}_4" class="glyphicon glyphicon-star setRating{%if rating.user.value >= 4%} selected{%endif%}"
                                      onclick="rate('{{ rating.id }}', '4')"></span>
                                <span id="rating_{{ rating.id }}_5" class="glyphicon glyphicon-star setRating{%if rating.user.value == 5%} selected{%endif%}"
                                      onclick="rate('{{ rating.id }}', '5')"></span>
                            </span>
                        </div>


                        {% if rating.user_value %}
                            <input type="hidden" class="rated" id="rating_{{ rating.id }}" name="rating_{{ rating.id }}" data-id="{{ rating.id }}"
                                   value="{{ rating.user_value }}">
                            <input type="hidden" name="rating_{{ rating.id }}_existed"  value="true">
                        {% else %}
                            <input type="hidden" class="unrated" id="rating_{{ rating.id }}"
                                   name="rating_{{ rating.id }}">
                        {% endif %}

                    {% endfor %}
{#                    {% for axescat in axescats %}#}
{#                        <div>#}
{#                            <div class="axescat-heading">{{ axescat.name }}</div>#}
{##}
{#                            <div class="axescat-body">#}
{#                                <div class="clearfix">#}
{#                                    <div class="axescat-label text-left">#}
{#                                        {{ axescat.left_criteria }}#}
{#                                    </div>#}
{#                                    <div class="axescat-label text-center">#}
{#                                        Neutral#}
{#                                    </div>#}
{#                                    <div class="axescat-label text-right">#}
{#                                        {{ axescat.right_criteria }}#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div>#}
{#                                    <input type="range" name="axescat_{{ axescat.id }}" min="0" max="10" value="{{ axescat.user_slide_value }}">#}
{#                                </div>#}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
{#                        <br>#}
{#                        {% if axescat.user_slide_value %}#}
{#                            <input type="hidden" name="axescat_{{ axescat.id }}_existed">#}
{#                        {% endif %}#}
{#                    {% endfor %}#}

                    <div class="rating-container-controls">
                        <button class="btn btn-primary" type="submit">Submit Rating</button>
                        <a class="btn btn-default" onclick="window.location.reload(true)">Clear</a>
                    </div>
                </form>
            </div>
        </div>

        <div id="tag_module" class="list-group">
            <div class="list-group-item list-group-header">Reason Tags</div>
            <div class="list-group-item article-data">
                {% for tag in tags %}
                    <div class="data">
                        {{ tag.name }}
                        <form action="{% url 'arguemeter:add-tag-disagree' article.id tag.id %}" method="post">
                            {% csrf_token %}
                            <span>{{ tag.agrees.count }}</span>
                            <span class="glyphicon glyphicon-chevron-up tag-disagree {% if tag.user_dis_agree %}selected{% endif %}" style="cursor:pointer;" data-disagree="True" data-id="{{ tag.id }}"></span>
                            <span>{{ tag.disagrees.count }}</span>
                            <span class="glyphicon glyphicon-chevron-down tag-disagree {% if tag.user_dis_agree == False %}selected{% endif %}" style="cursor:pointer;" data-disagree="False" data-id="{{ tag.id }}"></span>
                            <input type="hidden" id="tag_disagree_{{ tag.id }}" name="disagree" value=""/>
                        </form>
                    </div>

                {% endfor %}
            </div>
        </div>

        <div id="comment_module" class="list-group">
            <div class="list-group-item list-group-header">Comments</div>
            <div class="list-group-item">
                {% add_comment article.id %}
                {% for comment in comments %}
                        <div class="panel panel-default panel-comment">
                            <div class="panel-heading">{{ comment.user }} on {{ comment.date_created }}</div>
                            <div id="comment_panel_{{ comment.id }}" class="panel-body">
                                <div>
                                    {{ comment.comment_text }}
                                </div>
                                <span data-bind="text: likes"></span>
                                <span id="comment_{{ comment.id }}_like" class="glyphicon glyphicon-thumbs-up" data-bind="css: {blue: user_like}, click: like"></span>
                                <span data-bind="text: dislikes"></span>
                                <span id="comment_{{ comment.id }}_dislike" class="glyphicon glyphicon-thumbs-down" data-bind="css: {blue: user_dislike}, click: dislike"></span>
                                {% if not comment.parent %}
                                    <span>{{ comment.replies.count }}</span>
                                    <span id="comment_{{ comment.id }}_reply" class="glyphicon glyphicon-comment" onclick="$('#reply_to_{{ comment.id }}').show()"></span>
                                {% endif %}
                                {% add_comment article.id comment.id %}
                            </div>
                            <div class="panel-footer">
                                {% for reply in comment.replies %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">{{ reply.user }} on {{ reply.date_created }}</div>
                                        <div id="comment_panel_{{ reply.id }}" class="panel-body">
                                            <div>
                                                {{ reply.comment_text }}
                                            </div>
                                            <span data-bind="text: likes"></span>
                                            <span id="comment_{{ reply.id }}_like" class="glyphicon glyphicon-thumbs-up" data-bind="css: {blue: user_like}, click: like"></span>
                                            <span data-bind="text: dislikes"></span>
                                            <span id="comment_{{ reply.id }}_dislike" class="glyphicon glyphicon-thumbs-down" data-bind="css {blue: user_dislike}, click: dislike"></span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% view_citation_list article_id=article.id %}

    {% include 'core/article_update_modal.html' with shared_form_pg1=shared_form_pg1 update_form=update_form shared_form_pg2=shared_form_pg2 %}

    {% topic_description topic %}

{% endblock %}

