{% load crispy_forms_tags %}
    <form class="form-horizontal" method="post" id="articleUpdateModalForm" data-bind="attr: { action: url }">
        <fieldset>
            <div class="modal" id="articleUpdateModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-group pull-right clearfix">
                                <button type="submit" class="btn btn-default pull-right">Save</button>
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel
                                </button>
                                <a data-bind="attr: { href: deleteUrl  }, visible: id" class="btn btn-default pull-right"
                                       onclick="return confirm('Really delete this article?')">Delete</a>
                            </div>
                            <h4 class="modal-title">Add an article</h4>
                        </div>
                        <div class="modal-body clearfix">

                            {% csrf_token %}

                            <div class="shared-link-update">

                                {% crispy shared_form_pg1 %}

                            </div>

                            <div class="article-content-update">

                                {% crispy update_form %}

                            </div>

                            <div class="shared-link-update">

                                {% crispy shared_form_pg2 %}

                                <input type="hidden" name="shared_link_id" data-bind="value: shared_link_id"/>

                            </div>
                            <div class="col-md-6">

                                <h5>Reason Tags</h5>

                                <div>
                                    {#                                    <input type="text" placeholder="Enter new reason tag" data-bind="value: tagToAdd"/>#}
                                    <select data-bind="options: unusedTags, value: tagToAdd, optionsCaption: 'Add reason tag', optionsText: 'name'"></select>
                                    <a href="#" data-bind="click: addTag, enable: canAddTag"><span
                                            class="glyphicon glyphicon-plus-sign"></span></a>
                                    <label class="text-warning" data-bind="visible: tags().length >= 5">Maximum of 5
                                        tags allowed per argument</label>
                                </div>
                                <div data-bind="foreach: tags">
                                    <div class="data">
                                        <a href="#" data-bind="click: $parent.removeTag"><span
                                                class="glyphicon glyphicon-remove-circle"></span></a>
                                        <span data-bind="text: name"></span>
                                    </div>
                                    <input type="hidden" name="tag_use[]" data-bind="value: id"/>
                                </div>

                                <h5>Cite Sources</h5>

                                <div>
                                    <input type="text" placeholder="Source URL" data-bind="value: citationLinkToAdd"/>
                                    <a href="#"
                                       data-bind="click: addCitation, enable: citationLinkToAdd.length > 0 && citationTextToAdd.length > 0">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                    <input type="text" placeholder="Source title" data-bind="value: citationTextToAdd"/>
                                </div>
                                <div data-bind="foreach: citations">
                                    <div class="data"><a href="#" data-bind="click: $parent.removeCitation"><span
                                            class="glyphicon glyphicon-remove-circle"></span></a><a
                                            data-bind="attr: {href: link}, text: text"></a></div>
                                    <input type="hidden" name="citation_text[]" data-bind="value: text">
                                    <input type="hidden" name="citation_link[]" data-bind="value: link">
                                    <input type="hidden" name="citation_id[]" data-bind="value: id">
                                </div>
                            </div>

                            <input id="article-id" type="hidden" data-bind="value: id"/>

                            <div class="col-md-12">
                                <div class="modal-footer">
                                    <a data-bind="attr: { href: deleteUrl }, visible: id" class="btn btn-default"
                                       onclick="return confirm('Really delete this article?')">Delete</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
