<div class="col-md-4">
        <div class="details" style="padding-left: 20px;">
            <div class="detail-item"><label>Created:</label> {{ topic.date_last_edited }}</div>
            <div class="detail-item"><label>Arguments:</label><span> {{ n_original }} original</span>|<span>{{ n_shared }} shared</span></div>
        </div>
    </div>