{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load templatetags %}
{% load templatefilters %}

{% block extra_js %}

    <script src="{% static 'js/embedly.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>
    <script src="{% static 'js/knockout-min.js'%}"  type="text/javascript"></script>
    <script src="{% static 'js/articleupdateviewmodel.js' %}"  type="text/javascript"></script>
    <script src="//cdn.embed.ly/jquery.embedly-3.0.5.min.js" type="text/javascript"></script>
    <script src="//cdn.embed.ly/jquery.preview-0.3.2.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        var reasonTagFilterOnClick = function(e) {

            var el = $(e.currentTarget);

            var isSelected = el.hasClass('selected');

            if (isSelected) {
                el.removeClass('selected')
                    .find('input').attr('checked', false);
            } else {
                el.addClass('selected')
                    .find('input').attr('checked', true);
            }

            el.closest('form').submit();
        };
    </script>

{% endblock extra_js %}

{% block page_title %}
    <div class="col-md-12">
        <div class="title-bar-inner clearfix grid">
            {% article_header_topic_title topic request %}
            {% include "core/article_header_topic_details.html" with topic=topic num_article_list_original=num_article_list_original num_article_list_shared=num_article_list_shared%}
        </div>

        {% sub_nav topic form shared_form_pg1 shared_form_pg2 %}
   </div>
{% endblock page_title %}


{% block sidebarright %}
    <button type="button" class="btn btn-primary btn-xs right" data-toggle="sidebarright"><i class="glyphicon glyphicon-chevron-left"></i>Filter/Sources</button>
    <div class="col-md-5 sidebar-xs right">
        <div id="filter_module_xs" class="list-group">
            <div class="list-group-item list-group-header">
                Filter Articles
            </div>
            <div class="list-group-item">
                {% include "core/filter_form.html" with title="Articles" %}

                <div class="article-data">

                    {% for tag in tags %}
                        <span class="data reason-tag{% if tag.id in checked_tags %} selected{% endif %}" onclick="reasonTagFilterOnClick(event);">
                            <input type="checkbox" style="display: none" name="tag_id[]" value="{{ tag.id }}" {% if tag.id in checked_tags %}checked="checked"{% endif %}>
                            {{ tag.name }}
                        </span>
                    {% endfor %}

                    {% if tags %}
                        <a class="reason-tag data" href="{% url 'arguemeter:list-articles' topic.id %}">Reset Filters</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% view_citation_list topic_id=topic.id cols=0 class_str="" %}
    </div>


{% endblock sidebarright %}

{% block content %}
    {% if error_message %}<div class="alert alert-danger">{{ error_message }}</div>{% endif %}


    <div class="col-md-8">

        <div class="list-group">
            {% for article in article_list %}
            <div id="summary_{{ article.id }}" class="list-group-item clearfix">
                <div class="col-md-8">
                    <h4 class="list-group-item-heading">
                        <a class="article-title" href="{% url 'arguemeter:detail-article' article.id %}">
                            {% if article.shared_link %}{{ article.shared_link.title }}
                            {% else %}{{ article.article_name }}
                            {% endif %}
                        </a>
                    </h4>
                    <div class="article-description compressed">
                        <p class="list-group-item-text">
                            {% if article.shared_link %}{{ article.shared_link.summary | bbcode }}
                            {% else %}{{ article.summary | bbcode }}
                            {% endif %}
                        </p>
                    </div>


                </div>



                <div class="col-md-2"></div>
                <div class="col-md-2 article-data">
                    <div class="rating-container embedded clearfix">
                        <span class="rating-stars data">
                            <span id="rating_{{ rating.id }}_1_xs" class="glyphicon glyphicon-star setRating{% if article.rating_score > 0 %} selected{% endif %}" style="{% if article.rating_score > 0 and article.rating_score < 1 %}{{ article.rating_score | redfill }};{% endif %}"></span>

                            <span id="rating_{{ rating.id }}_2_xs" class="glyphicon glyphicon-star setRating{% if article.rating_score > 1 %} selected{% endif %}" style="{% if article.rating_score > 1 and article.rating_score < 2 %}{{ article.rating_score | redfill }};{% endif %}"></span>

                            <span id="rating_{{ rating.id }}_3_xs" class="glyphicon glyphicon-star setRating{% if article.rating_score > 2 %} selected{% endif %}" style="{% if article.rating_score > 2 and article.rating_score < 3 %}{{ article.rating_score | redfill }};{% endif %}"></span>

                            <span id="rating_{{ rating.id }}_4_xs" class="glyphicon glyphicon-star setRating{% if article.rating_score > 3 %} selected{% endif %}" style="{% if article.rating_score > 3 and article.rating_score < 4 %}{{ article.rating_score | redfill }};{% endif %}"></span>

                            <span id="rating_{{ rating.id }}_5_xs" class="glyphicon glyphicon-star setRating{% if article.rating_score > 4 %} selected{% endif %}" style="{% if article.rating_score > 4 and article.rating_score < 5 %}{{ article.rating_score | redfill }};{% endif %}"></span>
                        </span>
                    </div>

                    <div class="data">
                        <span>{{ article.agrees }} <span class="glyphicon glyphicon-chevron-up red"></span></span>
                        <span>{{ article.disagrees }}<span class="glyphicon glyphicon-chevron-down red"></span></span>
                    </div>

                    <div class="data">
                        {{ article.num_comments }} <span class="glyphicon-comment glyphicon red"></span>
                    </div>
                </div>
                <div class="article-data-inline clearfix col-md-12">
                    <div class="pull-left">{{ article.display_author }}</div>
                    <div class="pull-left">{{ article.date_created | date }}</div>
                    <div class="pull-left">{{ article.shared_link.link.domain }}</div>
                </div>
            </div>



            {% endfor %}
        </div>

    </div>


    <div class="col-md-4 sidebar-full">
        <div id="filter_module" class="list-group">
            <div class="list-group-item list-group-header">
                Filter Articles
            </div>
            <div class="list-group-item">
                <form action="{%  url 'arguemeter:list-articles' topic.id %}" method="get">
                {% include "core/filter_form.html" with title="Articles" %}

                    <div class="article-data">

                        {% for tag in tags %}
                            <span class="data reason-tag{% if tag.id in checked_tags %} selected{% endif %}" onclick="reasonTagFilterOnClick(event);">
                                <input type="checkbox" style="display: none" name="tag_id[]" value="{{ tag.id }}" {% if tag.id in checked_tags %}checked="checked"{% endif %}>
                                {{ tag.name }}
                            </span>
                        {% endfor %}

                        {% if tags %}
                            <a class="reason-tag data" href="{% url 'arguemeter:list-articles' topic.id %}">Reset Filters</a>
                        {% endif %}
                    </div>

                </form>

            </div>
        </div>
    </div>

    {% view_citation_list topic_id=topic.id cols=4 class_str="pull-right sidebar-full" %}

    {% include 'core/article_update_modal.html' with shared_form_pg1=shared_form_pg1 update_form=update_form shared_form_pg2=shared_form_pg2 %}

{##}
{#    <form class="form-horizontal" method="post" id="articleUpdateModalForm" data-bind="attr: { action: url }">#}
{#        <fieldset>#}
{#            <div class="modal" id="articleUpdateModal">#}
{#                <div class="modal-dialog">#}
{#                    <div class="modal-content">#}
{#                        <div class="modal-header">#}
{#                            <div class="form-group pull-right clearfix">#}
{#                                <button type="submit" class="btn btn-default pull-right">Save</button>#}
{#                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel#}
{#                                </button>#}
{#                                <a data-bind="attr: { href: deleteUrl }" class="btn btn-default pull-right"#}
{#                                       onclick="return confirm('Really delete this article?')">Delete</a>#}
{#                            </div>#}
{#                            <h4 class="modal-title">Add an article</h4>#}
{#                        </div>#}
{#                        <div class="modal-body clearfix">#}
{##}
{#                            {% csrf_token %}#}
{##}
{#                            <div class="shared-link-update">#}
{##}
{#                                {% crispy shared_form_pg1 %}#}
{##}
{#                            </div>#}
{##}
{#                            <div class="article-content-update">#}
{##}
{#                                {% crispy update_form %}#}
{##}
{#                            </div>#}
{##}
{#                            <div class="shared-link-update">#}
{##}
{#                                {% crispy shared_form_pg2 %}#}
{##}
{#                                <input type="hidden" name="shared_link_id" data-bind="value: shared_link_id"/>#}
{##}
{#                            </div>#}
{#                            <div class="col-md-6">#}
{##}
{#                                <h5>Reason Tags</h5>#}
{##}
{#                                <div>#}
                                    {#                                    <input type="text" placeholder="Enter new reason tag" data-bind="value: tagToAdd"/>#}
{#                                    <select data-bind="options: unusedTags, value: tagToAdd, optionsCaption: 'Add reason tag', optionsText: 'name'"></select>#}
{#                                    <a href="#" data-bind="click: addTag, enable: canAddTag"><span#}
{#                                            class="glyphicon glyphicon-plus-sign"></span></a>#}
{#                                    <label class="text-warning" data-bind="visible: tags().length >= 5">Maximum of 5#}
{#                                        tags allowed per argument</label>#}
{#                                </div>#}
{#                                <div data-bind="foreach: tags">#}
{#                                    <div class="data">#}
{#                                        <a href="#" data-bind="click: $parent.removeTag"><span#}
{#                                                class="glyphicon glyphicon-remove-circle"></span></a>#}
{#                                        <span data-bind="text: name"></span>#}
{#                                    </div>#}
{#                                    <input type="hidden" name="tag_use[]" data-bind="value: id"/>#}
{#                                </div>#}
{##}
{#                                <h5>Cite Sources</h5>#}
{##}
{#                                <div>#}
{#                                    <input type="text" placeholder="Source URL" data-bind="value: citationLinkToAdd"/>#}
{#                                    <a href="#"#}
{#                                       data-bind="click: addCitation, enable: citationLinkToAdd.length > 0 && citationTextToAdd.length > 0">#}
{#                                        <span class="glyphicon glyphicon-plus-sign"></span>#}
{#                                    </a>#}
{#                                    <input type="text" placeholder="Source title" data-bind="value: citationTextToAdd"/>#}
{#                                </div>#}
{#                                <div data-bind="foreach: citations">#}
{#                                    <div class="data"><a href="#" data-bind="click: $parent.removeCitation"><span#}
{#                                            class="glyphicon glyphicon-remove-circle"></span></a><a#}
{#                                            data-bind="attr: {href: link}, text: text"></a></div>#}
{#                                    <input type="hidden" name="citation_text[]" data-bind="value: text">#}
{#                                    <input type="hidden" name="citation_link[]" data-bind="value: link">#}
{#                                    <input type="hidden" name="citation_id[]" data-bind="value: id">#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                            <input id="article-id" type="hidden" data-bind="value: id"/>#}
{##}
{#                            <div class="col-md-12">#}
{#                                <div class="modal-footer">#}
{#                                    <a data-bind="attr: { href: deleteUrl }" class="btn btn-default"#}
{#                                       onclick="return confirm('Really delete this article?')">Delete</a>#}
{#                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel#}
{#                                    </button>#}
{#                                    <button type="submit" class="btn btn-default">Save</button>#}
{#                                </div>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </fieldset>#}
{#    </form>#}

    {% topic_description topic %}


{%  endblock %}