<a href="{% url 'arguemeter:index' %}" class="col-md-1"><span class="glyphicon glyphicon-arrow-left"></span></a>
<h1 class="col-md-7">{{ topic.topic_name }}
    <a class="pull-right favorite-star"
       href="{% if is_favorite %}{% url 'arguemeter:remove-favorite' topic.id %}{% else %}
             {% url 'arguemeter:attach-favorite' topic.id %}{% endif %}" title="Favorite topic"><span
            class="glyphicon {% if is_favorite %}glyphicon-star{% else %}glyphicon-star-empty{% endif %}"></span></a>
</h1>