{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block page_title %}
    Assets
{% endblock page_title %}


{% block extra_css %}

    <style type="text/css">
    .colorBlocks > * {
        border: solid 1px black;
        height: 50px;
    }
    </style>
{% endblock %}


{% block content %}


    <div class="container">

        <div class="row colorBlocks">
            <div class="col-md-1" style="background-color: #E06666">
                Header
            </div>
            <div class="col-md-1" style="background-color: #E06666">
                Border
            </div>
            <div class="col-md-1" style="background-color: #FFFFFF">
                Font Light
            </div>
            <div class="col-md-1" style="background-color: #000000; color: white;">
                Font Dark
            </div>
            <div class="col-md-1" style="background-color: #b7b7b7">
                Button
            </div>
            <div class="col-md-1" style="background-color: #f3f3f3">
                Text Area
            </div>
            <div class="col-md-1" style="background-color: #cc0000">
                Fill
            </div>
            <div class="col-md-1" style="background-color: #990000">
                Hover
            </div>
            <div class="col-md-1" style="background-color: #999999">
                Tile Dark
            </div>
        </div>

    </div>
{% endblock %}