{% if cols > 0 %}<div class="col-md-{{ cols }} {{ class_str }}">{% endif %}

    <div id="citation_list_module" class="list-group">
        <div class="list-group-item list-group-header">Sources</div>
        {% if not citations.exists %}
            <div class="list-group-item">
                No sources have been added.
            </div>
        {% endif %}
        {% for citation in citations %}
            <div class="list-group-item">
                {% if citation.link %}<a href="{{ citation.link }}" target="_blank">{% endif %}
                {{ citation.text }}{% if citation.is_truncated %}&#8230;{% endif %}
                {% if citation.link %}</a>{% endif %}
            </div>
        {% endfor %}
    </div>

{% if cols > 0 %}</div>{% endif %}