{% load crispy_forms_tags %}


<form action="" method="post" accept-charset="utf-8" enctype="multipart/form-data">{% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-default" value="Close" name="_cancel">
    <input type="submit" class="btn btn-default" value="Save & Add Another" name="_addanother">
    <input type="submit" class="btn btn-default" value="Save" name="_save">

</form>
