{# parent (adds a collapse button), article_id (indicates article that will be submitted for), #}

{% load crispy_forms_tags %}


<form {% if parent %} id="reply_to_{{ parent }}" {% endif %}class="form-horizontal {% if parent %}collapse{% endif %}" action="{% url 'arguemeter:add-comment' article_id %}" method="post">
    <fieldset>
        {% csrf_token %}
        {% if parent %}<legend>Reply to Comment</legend>{% else %}Add Comment</legend>{% endif %}
        <div class="comment-input">
            {% crispy comment_form %}
        </div>
        {% if parent %}<input type="hidden" value="{{ parent }}" name="parent"/>{% endif %}
        <button class="btn btn-primary" type="submit">Save</button>
        {% if parent %}<a href="javascript:void(0)" onclick="$('#reply_to_{{ parent }}').hide()">Cancel</a>{% endif %}
    </fieldset>
</form>