

    <input class="search" type="search" placeholder="Search {{ title }}">
    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>

    <div class="dropdown sort-dropdown">
        <button class="list-group-item dropdown-toggle" type="button" data-toggle="dropdown">
            Sort By:
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {% if title == 'Articles' %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-rating_score').closest('form').submit();return false">
                Highest Rating
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-num_comments').closest('form').submit();return false">
                    Most Comments
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-date_last_edited').closest('form').submit();return false">
                    Most Recent
                </a>
            </li>
            {% endif %}

            {% if title == 'Topics' %}
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-date_created').closest('form').submit();return false">
                    Newest Topics
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-article_date_last_edited').closest('form').submit();return false">
                    Recent Arguments
                </a>
            </li>
            <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" onclick="$('input[name=orderby]').val('-n_articles').closest('form').submit();return false">
                    Most Arguments
                </a>
            </li>
            {% endif %}

            {% for sort_type in sort_type_list %}
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{ sort_type }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="filter_axes_group">
        {% for axes in filter_axes %}
            <div class="filter_axis">
                {{ axes.name }}
                <input type="range" name="points" min="1" max="10"/>
            </div>
        {% endfor %}
    </div>

    <input type="hidden" name="orderby" value="-rating_score"/>


    {% csrf_token %}
