<!--
    Note when using this tag - for embedly to work, the embedly lib and setup script need to be on the page
-->

{% load crispy_forms_tags %}
{% load staticfiles %}

<div class="sub-nav-wrapper">
    <div class="sub-nav">
        <ul>
            <li>
                <a href="{% url 'arguemeter:list-articles' topic.id %}" class="btn btn-primary selected slim">Arguments</a>
            </li>
            <li>
                <button class="btn btn-default slim" data-toggle="modal" data-target="#articleUpdateModal"
                        data-articleid="" data-topicid="{{ topic.id }}" data-bind="click: init">Write Argument</button>
            </li>
            <li>
                <button class="btn btn-default slim" data-toggle="modal" data-target="#articleUpdateModal"
                        data-articleid="" data-topicid="{{ topic.id }}" data-newshared="true" data-bind="click: init">
                    Share Argument</button>
            </li>
            <li>
                <button class="btn btn-default slim" data-target="#topicDescriptionModal" data-toggle="modal">Topic Details
                </button>
            </li>
        </ul>
    </div>
</div>