{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load templatefilters %}

{% block extra_js %}
    <script>
        //http://getbootstrap.com/javascript/#modals-usage
        $(function () {
            $("body").on("show.bs.modal", ".modal", function (e) {
                var clicked = $(e.relatedTarget);
                var title = clicked.data('title');
                if (title) $('[data-field=title]', this).html(title);
            });
        });

        $(function () {
            $("#id_visibility").change(function (e) {
                selection = $("#id_visibility option:selected").text()
                if (selection == "Communities") {
                    $("#div_id_community").show()
                    $("#div_id_team").hide()
                } else if (selection == "Team") {
                    $("#div_id_community").hide()
                    $("#div_id_team").show()
                } else {
                    $("#div_id_community").hide()
                    $("#div_id_team").hide()
                }
            });
        });

        // popover to delete rating or axescat
        $(function () {
            var options = {
                trigger: 'manual',
                html: true,
                animation: false,
                delay: { "show": 0, "hide": 500 }
            };
            $('[data-toggle=popover]').popover(options)
                    .mouseenter(function () {
                        var el = $(this);

                        $('[data-toggle=popover]').popover('hide');

                        el.popover('show');

                        $('.popover')
                                .mouseenter(function () {
                                    el.popover('show');
                                })
                                .mouseleave(function () {
                                    el.popover('hide');
                                })
                                .data('el', el);

                    })
                    .mouseleave(function () {
                        var el = $(this);

                        setTimeout(function () {
                            if (!$('.popover:hover').length)
                                el.popover('hide');
                        }, 500);
                    });

            $('body').on('click', '.popover a', function (e) {

                var el = $(this).closest('.popover').data('el');
                // grab url
                var url = el.data('url');

                // send delete request
                if (url)
                    $.get(url).done(function () {
                        el.popover('hide');
                        el.remove();
                    });
            });
        });

        $(function() {
            // add focus to modal first input box when shown
            $('body').on('shown.bs.modal', function() {
                $(this).find('input[type=text]').first().focus();
            });
        });


    </script>
    <script src="{% static 'js/topicupdateviewmodel.js' %}"></script>
    <script src="{% static 'js/knockout-min.js' %}"></script>
    <script src="{% static 'js/sidebar.js' %}"></script>

{% endblock extra_js %}

{% block page_title %}

    <div class="col-md-7">
        <div class="title-bar-inner no-nav clearfix">
            <div class="col-md-8">
                My Topics
            </div>
            {% if request.user.id and request.user.is_staff %}
                <div class="col-md-4">
                    <button class="btn btn-default slim" data-toggle="modal" data-target="#topicUpdateModal" data-bind="click: updateId" >Create New
                        Topic
                    </button>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-md-5">
        <div class="search-bar">
            <form action="{% url 'arguemeter:index' %}" method="post">
                {% include "core/filter_form.html" with title="Topics" %}
            </form>
        </div>
    </div>
{% endblock page_title %}


{% block content %}
    {% if error_message %}
        <div class="alert alert-danger">{{ error_message }}</div>{% endif %}

{# Begin Page #}
    <div class="col-md-7">
        <div class="list-group" id="topics">
            {% for topic in topic_list %}
                {% if topic.is_published or topic.user == request.user %}
                <div id="detail_{{ topic.id }}" class="list-group-item clearfix tile topic">
                    <div class="col-md-8">
                        <h2 class="list-group-item-heading topic-title">

                            <a href="{% url 'arguemeter:list-articles' topic.id %}">
                                {% if topic.pinned %}
                                <span class="glyphicon glyphicon-flag"></span>
                                {% endif %}
                                {% if topic.n_user_favorites > 0 %}
                                <span class="glyphicon glyphicon-star"></span>
                                {% endif %}
                                {{ topic.topic_name }}
                            </a>
                        </h2>

{#                        <div>Moderator: {{ topic.user }}</div>#}

                        <div class="topic-description compressed">
                            <p class="list-group-item-text">
                                {{ topic.detail | bbcode }}
                            </p>
                        </div>


                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            {% if topic.user_id == request.user.id %}
                                <button href="#" class="dropdown-toggle btn btn-default slim" data-toggle="dropdown">
                                    Topic
                                    <b class="caret"></b>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'arguemeter:list-articles' topic.id %}">View Arguments</a></li>
                                    {% if request.user.id and request.user.is_staff %}
                                        {% if topic.user_id == request.user.id %}
                                            <li><a href="#" data-bind="click: updateId" data-value="{{ topic.id }}"  data-toggle="modal" data-target="#topicUpdateModal">Edit Topic</a></li>
                                            <li><a href="{% url 'arguemeter:delete-topic' topic.id %}"
                                                   onclick="return confirm('Really delete this topic?')">Delete Topic</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            {% else %}
                                <a href="{% url 'arguemeter:list-articles' topic.id %}" class="btn btn-default slim">View
                                    Arguments</a>
                            {% endif %}
                        </div>
                        {% if not topic.is_published %}
                            <div class="publish-wrapper">
                                <a class="btn btn-default slim" href="#" data-bind="click: updateId" data-value="{{ topic.id }}"  data-toggle="modal" data-target="#topicUpdateModal">Publish Topic</a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-12">
                        <div class="topic-data clearfix">

                            <div class="article-count pull-left">
                                {{ topic.n_articles }}
                                Arguments
                            </div>

                            <div class="topic-date pull-left">
                                {% if topic.article_date_last_edited %}
                                    {{ topic.article_date_last_edited | date }}
                                {% else %}
                                    {{ topic.date_created | date }}
                                {% endif %}
                            </div>

                            <div class="community pull-left">
                                <span class="label-private label label-round"> Public </span>
{#                                TODO: implement communities #}

                            </div>

                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
{# End Page #}

    <div class="col-md-5 sidebar-full">
    </div>

{# Begin Update Topic Modal #}
    {% if request.user.id and request.user.is_staff %}
        <form class="form-horizontal" method="post" id="topicUpdateModalForm" data-bind="attr: { action: url }">
            <fieldset>
                <div class="modal" id="topicUpdateModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
{#                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>#}
                                <div class="form-group pull-right clearfix">
                                    <button type="submit" class="btn btn-default pull-right"
                                            onclick="if ($('#id_update_is_published').val() !== 'true' && confirm('Publish topic?')) $('#id_update_is_published').val('true')">Save</button>
                                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Cancel
                                            </button>
                                    <a class="btn btn-default pull-right" data-bind="attr: { href: deleteUrl }, css: { disabled: articles().length > 0 }, visible: !!id()" onclick="return confirm('Really delete this topic?')">Delete</a>
                                </div>
                                <h4 class="modal-title">Add a topic</h4>
                            </div>
                            <div class="modal-body clearfix">
                                {% csrf_token %}
                                {% crispy update_form %}
{#                            TODO - integrate with communities #}
{#                                <div id="div_id_community" class="form-group">#}
{#                                    <label for="id_community" class="control-label ">#}
{#                                        Communities#}
{#                                    </label>#}
{##}
{#                                    <div class="controls ">#}
{#                                        <select class="select form-control" id="id_community" name="community"#}
{#                                                multiple="multiple">#}
{#                                            <option value="" selected="selected">---------</option>#}
{#                                            {% for community in communities %}#}
{#                                                <option value="{{ community.id }}">{{ community.name }}</option>#}
{#                                            {% endfor %}#}
{#                                        </select>#}
{#                                    </div>#}
{#                                </div>#}
                            <div class="col-md-6">
                                <h5>Ratings</h5>
                                <div>
                                    <input type="text" placeholder="Enter new rating" data-bind="value: ratingToAdd"/>
                                    <a href="#" data-bind="click: addRating, enable: ratingToAdd.length > 0"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                                <div data-bind="foreach: ratings">
                                    <div class="data rating" data-bind="attr: {'data-index': $index}">
                                        <a href="#" data-bind="click: $parent.removeRating"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                        <span data-bind="text: name"></span>
                                    </div>
                                    <input type="hidden" class="weight" data-bind="value: weight" />
                                    <input type="hidden" name="rating_use[]" data-bind="value: id"/>
                                </div>

                                <h5>Reason Tags</h5>
                                <div>
{#                                    <select data-bind="options: unusedTags, value: tagToAdd, optionsCaption: 'Add reason tag', optionsText: 'name'"></select>#}
                                    <input type="text" placeholder="Enter new reason tag" data-bind="value: tagToAdd"/>
                                    <a href="#" data-bind="click: addTag, enable: tagToAdd.length > 0"><span class="glyphicon glyphicon-plus-sign"></span></a>
                                </div>
                                <div data-bind="foreach: tags">
                                    <div class="data reason-tag">
                                        <a href="#" data-bind="click: $parent.removeTag"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                        <span data-bind="text: name"></span>
                                    </div>
                                    <input type="hidden" name="tag_use[]" data-bind="value: id"/>
                                </div>

                                <h5>Cite Sources</h5>
                                <div>
                                    <input type="text" placeholder="Source URL" data-bind="value: citationLinkToAdd"/>
                                    <a href="#" data-bind="click: addCitation, enable: citationLinkToAdd.length > 0 && citationTextToAdd.length > 0">
                                        <span class="glyphicon glyphicon-plus-sign"></span>
                                    </a>
                                    <input type="text" placeholder="Source title" data-bind="value: citationTextToAdd"/>
                                </div>
                                <div data-bind="foreach: citations">
                                    <div class="data"><a href="#" data-bind="click: $parent.removeCitation"><span class="glyphicon glyphicon-remove-circle"></span></a><a data-bind="attr: {href: link}, text: text"></a></div>
                                    <input type="hidden" name="citation_text[]" data-bind="value: text">
                                    <input type="hidden" name="citation_link[]" data-bind="value: link">
                                    <input type="hidden" name="citation_id[]" data-bind="value: id">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="modal-footer">
                                    <a data-bind="attr: { href: deleteUrl }, css: { disabled: articles().length > 0 }, visible: !!id()" onclick="return confirm('Really delete this topic?')" class="btn btn-default" >Delete</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                    </button>
                                    <button type="submit" class="btn btn-default" onclick="if ($('#id_update_is_published').val() !== 'true' && confirm('Publish topic?')) $('#id_update_is_published').val('true')">Save</button>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
            </fieldset>
        </form>
    {% endif %}
{# End Update Topic Modal #}
{% endblock content %}