{% load crispy_forms_tags %}
{% load templatefilters %}

            <div class="modal" id="topicDescriptionModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-group pull-right clearfix">
                                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close
                                </button>
                            </div>
                            <h4 class="modal-title">Topic Details</h4>
                        </div>
                        <div class="modal-body clearfix">
                            <div class="col-md-9 topic-title">
                                {{ topic.topic_name }}
                            </div>
                            <div class="col-md-3 details">
                                <label>Created by {{ topic.display_author }}</label>
                            </div>
                            <div class="col-md-12 topic-description">
                                <p>
                                    {% if not topic.detail %}

                                        <em>There is no topic description for this topic.</em>

                                    {% endif %}
                                    {{ topic.detail | bbcode }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
