{% load templatetags %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Arguemeter{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/multi-columns-row.css' %}" rel="stylesheet">
    <!-- This file stores project specific CSS -->
    <link href="{% static 'css/arguemeter.css' %}" rel="stylesheet">

      <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ie-row-fix.js' %}"></script>
    <script src="{% static 'js/jquery.tinymce.min.js' %}"></script>
    <script src="{% static 'js/tinymce.min.js' %}"></script>
    <script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/arguemeter.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


{#    <!-- Use this to quickly test CSS changes in a template,#}
{#        then move to arguemeter.css -->#}
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

{#  Herein lies the site header #}
    <div class="navbar navbar-default navbar-fixed-top header">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="logo"><img src="{% static 'img/arguemeter-header.png' %}" height="61"></span></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- add top level nav items here -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.id %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% username_dropdown_title user %} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'arguemeter:messages' %}">My Notifications</a></li>
                    <li><a href="{% url 'arguemeter:view-profile' %}">View My Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                </ul>
            </li>
            {% else %}
            <li class="active"><a href="/accounts/login">Login</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{# begin content #}

    <!-- this title bar heads the content and can be replaced on each page -->
    <div class="title-bar">
        <div class="container">

                {% block page_title %}{% endblock page_title %}


        </div>


    </div>

    <div class="container">


        {% block sidebarleft %} {% endblock sidebarleft %}
        {% block sidebarright %} {% endblock sidebarright %}

        <div class="main-content clearfix">

          {% block content %}
            <p>
                Welcome to Arguemeter! This app is currently in what can best be called pre-beta.
                What does that mean? I make no guarantees that anything uploaded to the site, be it data
                or files, will survive! USE AT YOUR OWN RISK!
            </p>
          {% endblock content %}
        </div>




    </div> <!-- /container -->


  </body>
</html>
